---
Checks:          'modernize-*,performance-*,readability-*,-readability-braces-around-statements,-readability-magic-numbers'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            neonsky
...

